#top-bar {
  text-align: center;
  margin: 0 auto;
  padding: 15px;
}

#container {
  margin: 0 auto;
  display: grid;
  width: 90vh;
  height: 90vh;
}

.cell {
  color: blue;
  background-color: pink;
  border-color: black;
  width: 100%;
  height: 100%;
}

.shaded-cell {
  background-color: green;
}
