#container {
  display: grid;
  width: 90vh;
  height: 90vh;
  gap: 1px;
}

.cell {
  color: blue;
  background-color: pink;
  border-color: black;
  width: 100%;
  height: 100%;
}

.shaded-cell {
  background-color: green;
}
